header,section,footer{
	width: 99%;
	margin-right: auto;
	margin-left: auto;
}
header{
	height: 100px;
	position: fixed;
    margin: 5% auto;
    text-align: center;
    transform: translateY(-259%);
	left: 0;
	right: 0;
}
footer{
	border-top-right-radius: 0px; 
	border-top-left-radius: 0px;
	height: 500px;
}
#principal{
	margin-top: 210px;
	height: 1750px;
}
#marca{
	display: none;
}
#marca2 {
	width: 100px;
	height: 100px;
	float: left;
	display: block;
}
#botonera {
	width: 80%;
	height: 200px;
	float: right;
}
.nosotros{
	display:block;
	margin: 0px auto 5% auto;
	font-size: 33px;
}
#imagen1 {
	height: 20%;
	display:block;
	margin:0px auto 5% auto;
	text-align: center;
	float: none;
}
#imagen3{
	height: 20%;
	display:block;
	margin:0px auto 5% auto;
	text-align: center;
	float: none;
}
#boton1{
	float: left;
	width: 32%;
	height: 99px;
	font-size: 30px;
	line-height: 99px;
	text-align: center;
}
:hover #boton1{
	width: 32%;
	height: 99px;
	line-height: 99px;
	border: 1px solid white;
}
#boton2{
	float: left;
	width: 32%;
	height: 99px;
	font-size: 30px;
	line-height: 99px;
	text-align: center;
}
:hover #boton2{
	width: 32%;
	height: 99px;
	line-height: 99px;
	border: 1px solid white;
}
#boton3{
	float: left;
	width: 32%;
	height: 99px;
	font-size: 30px;
	line-height: 99px;
	text-align: center;
}
:hover #boton3{
	width: 32%;
	height: 99px;
	line-height: 99px;
	border: 1px solid white;
}
#general {
	display:block;
	margin:auto;
	margin-bottom: 5%;
	width: 80%;
	height: 20%;
	font-size: 25px;
	text-align: center;
	float: none;
}
.info{
	display:block;
	margin:auto;
	margin-top: 5%;	
	margin-bottom: 5%;	
	font-size: 33px;
}
#info{
	display:block;
	margin:auto;	
	width: 80%;
	margin-bottom: 15%;
	font-size: 25px;
	text-align:center;
	float: none;
}
#imagen2{
	display:block;
	margin:auto;	
	margin-bottom: 5%;
	float: none;
}
#reserva{
	font-size: 25px;
	margin-bottom: 30%;
	height: 190px;
	width: auto;
}
#fila4seccion1{
	width: 34%;
	height: 250px;
	float: left;
}
#fila4seccion2{
	width: 43%;
	height: 250px;
	float: left;
}
#fila4seccion3{
	width: 22%;
	height: 250px;
	float: left;
}
#contacto{
	font-size: 33px;
}
p{
	font-size: 25px;
}


#animales{
	display: inline;
	width: 70%;
	line-height: 15em;
	margin: 0 auto 0 auto;
	float: none;
}
#botones{
	z-index: 1;
	height: 50px;
	width: 80%;
	margin: 10em auto 2em auto;
	display: block;
	background-size: cover;
}
.botonsolo{
	z-index: 10;
	height: 3em;
	width: 20%;
	margin-right: 60px;
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	line-height: 3em;
	text-align: center;
	box-shadow: 5px 7px 7px rgba(0,0,0,0.5);
}
.botonsolo:hover{
	color:white;
}
.botonsolo:active{
	color:rgb(200,200,200);
	background-color:white;
	border: 1px solid;
	box-shadow: none;
	margin-right: 58px;
}
#imganimal{
	border-radius: 20px;
}
#ulanimal{
	border-radius: 20px;
	margin-top: 8em;
	display: block;
	width: 80%;
	box-shadow: 5px 7px 7px rgba(0,0,0,0.5);
}
.listanimal{
	margin: 50px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: block;
	line-height: 20px;
	text-decoration: none;
}
.inputpost{
}
#socios{
	margin-right: 0px;
	margin: 0px;
	text-align: center;
	width: auto;
}
#formsocio{
	margin-right: 0px;
	margin: 0px;
	text-align: center;
	width: auto;
}
.botonsocio{
	margin-right: 0px;
	margin: 0px;
	text-align: center;
}

@media(max-width: 1008px){
	#animales{
		width: 900px;
		margin-right: auto;
		margin-left: auto;
	}
	#ulanimal{
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
}
@media (max-width: 791px){
	#reserva{
		margin-bottom: 40%;
	}
}
@media (max-width: 749px){
	#reserva{
		margin-bottom: 45%;
	}
}
@media (max-width: 712px){
	#reserva{
		margin-bottom: 50%;
	}
}
@media (max-width: 683px){
	#reserva{
		margin-bottom: 60%;
	}
	#general{
		margin-bottom: 20%;
	}
	.botonsolo{
		font-size: 90%;
	}
	.listanimal{
		font-size: 100%;
	}
	#imganimal{
		height: 200px;
	}
}
@media (max-width: 619px){
	#reserva{
		margin-bottom: 70%;
	}
	.botonsolo{
		font-size: 80%;
	}
	.listanimal{
		font-size: 90%;
	}
}
@media (max-width: 606px){
	#botones{
		width:75%;
	}
	.botonsolo{
		margin-right: 20px; 
	}
	.botonsolo:active{
		margin-right: 18px; 
	}
}